<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661112554119-o25d75tuno0rg2do6v8enkbgfmct1fll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661112554119-o25d75tuno0rg2do6v8enkbgfmct1fll</string>
	<key>API_KEY</key>
	<string>AIzaSyCDGG6G_0xpr_szqPfC411WpkmQdqvAhWM</string>
	<key>GCM_SENDER_ID</key>
	<string>661112554119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalTerm</string>
	<key>PROJECT_ID</key>
	<string>finalexam-31157</string>
	<key>STORAGE_BUCKET</key>
	<string>finalexam-31157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661112554119:ios:c5b94f4c3038ec2708ae22</string>
</dict>
</plist>